<%= render 'employees/form' %>

<script type="text/javascript">
  var form_count = $('form .fields').length;

  if(form_count > 0){
    $(".fields").attr('id', 'form' + form_count);
  }
  
  $(document).on('nested:fieldAdded', function(event){
    var next_form_count = $('form .fields').length;
    var panel_heading   = "Company " + (next_form_count -1);
    var previous_form   = next_form_count -1;
    
    $(event.field[0]).attr('id', 'form' + next_form_count);
    $('.sub-title').append('<div class="form-group form-custom-label" id="'+previous_form+'"><div class="row"><div class="col-md-3"><label>'+ panel_heading +'</label></div><div class="col-md-9"><div class="e-form-1" id="e-form-1"><i class="fa fa-caret-right toggle-arrow"></i><input type="text" name="fname" value="Norway"  class="form-control" readonly><br></div></div></div></div>');
    $('#form' + previous_form).slideUp(500);
  });

  $(document).on('click', '.form-custom-label', function(){
    var current_obeject_value = parseInt($(this).attr('id'));
    var next_form = $('form .fields').length;
    $('#form' + next_form).hide();
    $('#form' +  $(this).attr('id')).slideDown(500);
  });
</script>