<section class="form-container">
  <div class="container">
  <div class="form-links">
    <h1>Veriteach Wizard Forms</h1>
    <%= link_to "Candidate Form", new_candidate_path, method: :get %>
    <%= link_to "External Request(Employee)", new_employee_path, method: :get %>
    <%= link_to "External Request(Company)", new_company_path, method: :get %>
    <%= link_to "District Form", new_district_path, method: :get %>
    </div>
  </div>
</section>