<section class="form-container">
  <div class="container">
    <div class="row">
      <div class="panel panel-primary" id="company_steps">
        <%= render 'companies/steps/page1' %>
      </div>
    </div>
  </div>
</section>